:root {
	--k-color-primary: #36748E;
	--k-color-secondary: #8BD2D3;
	--k-color-accent: #F1EBA8;

	--k-text-main-light: #8BD2D3;
	--k-text-muted-light: var(--k-color-primary);
	--k-text-main-dark: #F1EBA8;
	--k-text-muted-dark: var(--k-color-secondary);

	--k-surface-card-light: #F1EBA8;
	--k-surface-card-dark: #36748E;
	--k-surface-card-hover-light: #FEFCCF;
	--k-surface-card-hover-dark: #418BA5;
	--k-surface-badge-light: var(--k-color-primary);
	--k-surface-badge-dark: var(--k-color-accent);

	--k-border-light: var(--k-color-primary);
	--k-border-dark: var(--k-color-accent);
	--k-overlay-background: var(--k-color-primary);

	--text-color-primary: var(--k-text-main-light);
	--text-color-muted: var(--k-text-muted-light);
}

.dark {
	--text-color-primary: var(--k-text-main-dark);
	--text-color-muted: var(--k-text-muted-dark);
}

@theme {
	--font-family-sans: 'BBH Sans Hegarty', sans-serif;
	--font-family-display: 'Short Stack', cursive;

	--color-primary: var(--k-color-primary);
	--color-secondary: var(--k-color-secondary);
	--color-accent: var(--k-color-accent);

	--color-primary-contrast: var(--k-color-secondary);
	--color-secondary-contrast: var(--k-color-accent);
	--color-icon-contrast: var(--k-color-primary);
}

.dark {
	--color-icon-contrast: var(--k-color-accent);
}
